

// NAVBAR


.blog-header {
  .container {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        width: 120px;
      }
    }
  }
}
